
<div class="row">
    <div class="col-md-4">
        <h2>PDF Generation Engine</h2>
        <ul class="nav navbar-nav">
            <li>
                <a href="/swagger">Swagger</a>
            </li>
            <li>
                <a href="/hangfire">Hangfire</a>
            </li>
        </ul>
    </div>
   
</div>
